
<div class='container'>
	<div class="row">
		<header>
			<div class="col-xs-12 .col-sm-6 .col-md-8 image">
				<h1 id="title">CINEMATHEQUE</h1>
				<div class="title-info">
					<p id="title-info">
						Our library makes finding movie information easy  
					</p>
				</div>
			</div>
			<div class='information'>
				<form class='form-inline global-search' role='form' action="/result" method="post">
			    <input class='searchbox' id="movie" name="movie" type="text" placeholder="Enter Title Here" />
			 	<div class="button">
				    <button type="submit" id="s" class="btn btn-custom btn-lg btn-block"><span class="glyphicon glyphicon-search"></span>
				</div>   	
				</form>
			</div>
		</header>	
	</div>
 
</div>



 