<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mini Lab 2</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="/stylesheets/css/bootstrap.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="/stylesheets/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<%= yield %>

	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js'></script>
  	<script src="/scripts/js/bootstrap.min.js"></script>
  	<script src="/scripts/js/minilab2.js"></script>
</body>
</html>